body {
  padding-top: 5%;
  color: black;
  background: #d47677;
}

.well{
	border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 0 auto;
  padding: 10px 30px;
}


.tab-content{

}
